.ProseMirror {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 14px;
	min-height: 100px;
	max-height: 60vh;
	overflow-y: auto;
}
.ProseMirror > * + * {
  margin-top: 0.75em;
}
.ProseMirror p {
  margin: 12px 0;
  line-height: normal;
}
.ProseMirror strong {
	font-weight: bold;
}
.ProseMirror em {
	font-style: italic;
}
.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1.2rem;
}
.ProseMirror h1 {
	font-size: 2.125rem;
}
.ProseMirror h2 {
	font-size: 1.875rem;
}
.ProseMirror h3 {
	font-size: 1.5rem;
}
.ProseMirror h4 {
	font-size: 1.25rem;
}
.ProseMirror h5 {
	font-size: 1.125rem;
}
.ProseMirror h6 {
	font-size: 1rem;
}
.ProseMirror code {
  background-color: #000000;
  color: #616161;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid #000000;
}
.ProseMirror hr {
  border: none;
  border-top: 2px solid #000000;
  margin: 2rem 0;
}
.ProseMirror table {
  width: 100%;
  min-width: 100%;
}
.ProseMirror table td,
.ProseMirror table th {
  border: 1px solid #aaa;
  box-sizing: border-box;
  min-width: 1px;
  padding: 5px 5px;
  position: relative;
  vertical-align: top;
  text-align: unset;
  font-weight: normal;
}
.ProseMirror table td > *,
.ProseMirror table th > * {
  margin-bottom: 0;
}
.ProseMirror table .selectedCell:after {
  background: rgba(200,200,255,0.4);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}
.ProseMirror table .column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}
.ProseMirror table p {
  margin: 0;
}
.ProseMirror-focused {
  outline: none;
}
.Prosemirror .selectedCell:after {
  background: rgba(200,200,255,0.4);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}
.Prosemirror .column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}
.editor-container {
  background: #ffffff;
  border: 1px solid #d8dae5;
  border-radius: 4px;
  padding: 10px;
}
.editor-menu-container {
  border-bottom: 0.5px solid #e6e8f0;
  padding-bottom: 15px;
}
.editor-menu-item-container {
  background-color: transparent;
  border: none !important;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
  color: #8f95b2;
  margin-bottom: 5px;
}
.editor-menu-item-container.is-active {
  color: #000;
}
.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
[data-rmiz-wrap="visible"],
[data-rmiz-wrap="hidden"] {
  position: unset;
  display: unset;
  align-items: unset;
}
.chapter-link-container:hover {
  border: 1px solid #eee !important;
}
.table-options {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.table-options-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.table-options-button {
  margin-right: 5px;
  margin-top: 5px;
}
table::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
table::-webkit-scrollbar-track {
  background: #fff;
}
table::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}
table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.editor-container--full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 100;
}
.editor-container--full .editor-menu-container {
  height: 15vh;
  padding: 16px;
  box-sizing: border-box;
}
.editor-container--full .editor-content {
  height: 85vh !important;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: scroll;
}
u {
  border-bottom: 1px solid;
  text-decoration: none;
}
du {
  border-bottom: 4px double;
  text-decoration: none;
}
.equationNode {
  background-color: #d5eee0;
}
.page-break {
  border-bottom: 1px solid #ddd;
}
.dotted-line {
  border: 1px solid;
}
.section-editor-label {
  background-color: #d6e0ff;
  color: #2952cc;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
.multi-instance-section-container {
  height: calc(-388vh);
  overflow-y: auto;
}
.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}
.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
.command-list-item-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  border: none;
  color: #000000;
  outline: none;
  padding: 0px 21px;
  height: 40px;
}
#tippy-1 {
  background-color: none;
  border-radius: 0px;
  width: auto;
  height: auto;
  overflow-y: scroll;
  box-shadow: none;
}
div[data-tippy-root] {
  background-color: #ffffff;
  border-radius: 4px;
  max-height: 400px;
  overflow-y: scroll;
  box-shadow: rgba(0,0,0,0.05) 0px 0px 0px 1px, rgba(0,0,0,0.08) 0px 4px 8px, rgba(0,0,0,0.08) 0px 2px 4px;
}
div[data-tippy-root] ul {
  list-style: none !important;
  text-align: left !important;
  height: 100% !important;
  padding: 15px 0px !important;
  margin: 0px !important;
}
div[data-tippy-root] ul li {
  padding: 0px !important;
  margin: 0px !important;
}
.slash-commands-group-container {
  color: rgba(55,53,47,0.65);
  font-size: 12px;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 10px;
}
