@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }

  .orange {
    --primary: 29 90.7% 53.5%;
    --primary-foreground: 210 40% 98%;
  }

  .green {
    --primary: 148 88.3% 40.2%;
    --primary-foreground: 210 40% 98%;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* .wysiwyg img {
  max-width: 20rem;
} */
.wysiwyg strong {
    font-weight: bold;
}
.wysiwyg em {
    font-style: italic;
}

.wysiwyg h1 {
    font-size: 2.125rem;
}
.wysiwyg h2 {
    font-size: 1.875rem;
}
.wysiwyg h3 {
    font-size: 1.5rem;
}
.wysiwyg h4 {
    font-size: 1.25rem;
}
.wysiwyg h5 {
    font-size: 1.125rem;
}
.wysiwyg h6 {
    font-size: 1rem;
}
.wysiwyg pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.wysiwyg pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.wysiwyg img, .wysiwyg video {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.wysiwyg blockquote {
  padding-left: 1rem;
  border-left: 2px solid #000000;
}
.wysiwyg hr {
  border: none;
  border-top: 2px solid #000000;
  margin: 2rem 0;
}
/* 
.a:active {
  background: #000;
} */
button,a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input {
  appearance: none;
}
input:-webkit-autofill { 
  -webkit-box-shadow:0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333; 
}
.wysiwyg img,video {
  display: inline-block;
}